.top-section {
  padding-top: 40px;
  background-color: $green;
  .container {
    display: flex;
    flex-direction: column;
    min-height: 160px;

    @include min(768) {
      min-height: 190px;
    }
  }
}

.top-section--index {
  .top-section__title {
    margin-left: 0;
    text-align: left;
    text-transform: none;
  }
}

.top-section__title {
  margin-top: auto;
  margin-bottom: -8px;
  margin-left: auto;
  text-align: right;
  color: $white;

  @include min(1024) {
    max-width: 70%;
  }
}
