// begin book-content
.book-content
  .container
    .book-content__inn
      // begin book-content__left
      .book-content__left
        .h4 Inhalt
        .book-content__list
          a(href="#link-01").h6.book-content__list-link.active Vorwort
          a(href="#link-02").h6.book-content__list-link In Kürze
          a(href="#link-03").h6.book-content__list-link Einleitung
          a(href="#link-04").h6.book-content__list-link Die unbekannte Allmende
          a(href="#link-05").h6.book-content__list-link Technologiebedingter Strukturbruch absehbar
          a(href="#link-06").h6.book-content__list-link Der Weg ist besser nicht das Ziel
          a(href="#link-07").h6.book-content__list-link Am Ende geht es um sehr viel mehr
          a(href="#link-08").h6.book-content__list-link Die Autoren
      // end book-content__left

      // begin book-content__right
      .book-content__right
        // begin section
        .book-content__right-section#link-01
          h5.h5.text-grey Bei unseren Economic Conferences präsentieren international anerkannte Experten neueste Erkenntnisse zu politökonomischen Themen, gefolgt von einer Diskussionsrunde mit dem Publikum.
        // end section

        // begin section
        .book-content__right-section#link-02
          h4 Vorwort
          p Seit mehreren Jahrzehnten leistet die Progress Foundation mit ihren inzwischen bereits 54 Economic Conferences, ihren Workshops und seit dem Jahr 2000 auch ihren Büchern einen Beitrag zum geistigen Gewebe der Schweiz. Über die Jahre sind so achtzehn Bücher entstanden, mehrheitlich auf Deutsch, zum Teil auf Englisch, fast jedes Jahr eines. Hauptsächlich sind es Sammelbände, die Themen der Veranstaltungen der Progress Foundation entweder vorbereiteten oder weiterentwickelten. Oft behandelten die Bücher sehr frühzeitig Entwicklungen und Trends, von der Rolle des Neids in der Gesellschaft («Neidökonomie», 2000) bis zur Politischen Korrektheit («Reden und reden lassen», 2020), vom Austrittsrecht von Gliedstaaten («The Political Economy of Secession», 2005) bis zum Verhältnis der Schweiz zur EU («Kleinstaat Schweiz – Auslauf- oder Erfolgsmodell?», 2017) und zum Selbstverständnis der Schweiz in der modernen Welt («Die Schweiz hat Zukunft», 2021). Neben stark ökonomisch ausgerichteten Büchern wie «Die Entstaatlichung des Geldes», 2014, oder «Vom Kredit zur Schuld», 2019, überwiegt insgesamt getreu dem Stiftungszweck ein breites Themenspektrum und viel Interdisziplinarität. Beispiele sind «Das Recht auf sich selbst», 2003, «Angst vor Gefahren oder Gefahren durch Angst?», 2005, «Vertrauen – Anker einer freiheitlichen Ordnung», 2007, «Religion, Liberalität und Rechtsstaat», 2015 oder «Total Data – Total Control», 2017. Mit all ihren Büchern hat die Progress Foundation nicht so sehr vordergründig, aber in den einschlägig interessierten Kreisen Diskussionen angestossen, mitgeprägt, Einsichten und Perspektiven geliefert, den Boden gelegt für spätere und breitere öffentliche Debatten.
          p Gerhard Schwarz<br>Präsident der Progress Foundation
        // end section

        // begin section
        .book-content__right-section#link-03
          h4 Einleitung
          p Kann man zu häufig Thematisiertem wie Klima und Nachhaltigkeit überhaupt noch einen Beitrag verfassen, der das Prädikat «relevant» verdient? Macht eine anzustrebende «Klärung der Gedanken» noch Sinn, wenn die Positionen allseits bezogen scheinen und angeblich nur noch Glaubensbekenntnisse gefragt sind, entweder an die Adresse der Klimaaktivisten oder zugunsten der Klimaleugner? Gibt es noch genügend Spielraum für weiterführende, kreative Ideen, oder ist schon alles Terrain besetzt?
          p Es brauchte unter anderem Druck von aussen, dass die Verfasser das grosse Thema der Klimaproblematik aufgriffen. Das vernünftige Verhalten von Unternehmungen im Hinblick auf absehbare, zusätzliche Regulierungen im Bereich des Umwelt- und Klimaschutzes war einer der Auslöser, eine klare Sicht auf Sinn oder Unsinn sogenannter «grüner Investments» an den Kapitalmärkten ein anderer, ebenso die Einordnung des Regelwerks der «ESG-Kriterien» (E steht für Environment, S für Social und G für Governance) in die Empfehlungen für das Anlageverhalten von Banken und von institutionellen Anlegern.
          p.body-2.text-green Gemäss einer Schweizer Marktstudie über nachhaltige Anlagen (Swiss Sustainable Finance in Zusammenarbeit mit der Universität Zürich) wächst der Markt für nachhaltige Anlagen seit einigen Jahren zweistellig (2020 +31 %) und belief sich im Jahr 2020 auf rund CHF 1500 Mrd., wobei die Investments nach ESG-Norm den grössten Anteil ausmachten.
          p «Wir glauben niemandem. Wir trauen allen alles zu». Das gilt auch und vielleicht sogar ganz besonders bei der vorliegenden Thematik.
        // end section

        // begin section
        .book-content__right-section#link-04
          .book-content__right-img
            img(src="assets/img/climat.jpg", alt="climat")
          #link-05
            h6.h6.text-green Aus den Augen, aus dem Sinn
            p.body-2.text-green Netto Transfer von Megatonnen CO2 vom Ort der Emission zum Ort des Konsums. Die 10 grössten Transfers wurden eingezeichnet, wobei Europa als eine Region angesehen wird.Quelle: Global Carbon Project, Global Carbon Budget 2021; eigene Darstellung
        // end section

        // begin section
        .book-content__right-section#link-06
          p Es gibt gute Argumente, um dieses und andere Modelle anzuzweifeln, und es ist gewiss begrüssenswert und notwendig, dass der wissenschaftliche Diskurs darüber stattfindet und kritische Stimmen nicht der allzu einfachen Verfemung der «Klimaleugnung» anheimfallen. Wenn wir uns im Folgenden dennoch der Sichtweise anschliessen, dass sowohl ein echtes Klima- als auch ein sichtbar gewordenes Externalitätenproblem besteht, dann aus den folgenden Gründen:
          #link-07
          ol
            li Der rasche Abbau aggregierten Kohlenstoffs und dessen historisch gesehen äusserst rasche Verbrennung ist ein Fakt. Es wäre überraschend, wenn solches Verhalten keinerlei Auswirkungen auf die Atmosphäre und Meere hätte.
            li Insgesamt ist die gesamte Weltwirtschaft sehr weitgehend «carbonisiert», das heisst vom Verbrauch von Kohlenstoff abhängig. Wenn sie weiterhin als carbonisierte Wirtschaft wächst, dann werden diesbezügliche Probleme grösser, nicht kleiner.
            li Die Anzahl Menschen auf dem Globus wird auf absehbare Zeit noch zunehmen. Auch die zusätzlichen Mitglieder einer mutmasslich auch noch länger lebenden Menschheit werden CO2 emittieren.
        // end section

        // begin section
        .book-content__right-section#link-08
          h4 Die Autoren
          h5 Dr. Konrad Hummler
          p.body-1.text-grey *1953, Dr. iur. Universität Zürich,<br>Unternehmer und Publizist, Inhaber M1AG, Präsident Verein Zivilgesellschaft,<br>Trustee Progress Foundation.
          h5 Dennis Moser
          p.body-1.text-grey *1995, B.A. HSG, cand. M.A. HSG und CEMS MIM,<br>2020–2022 wissenschaftlicher Mitarbeiter M1AG,<br>Business Development und Verwaltungsrat bonCas AG.
          h5 Joel Weibel
          p.body-1.text-grey *1996, M.A. HSG,<br>2020–2022 wissenschaftlicher Mitarbeiter M1AG, Consultant Corporate Finance / M&A ZETRA AG.
        // end section


      // end book-content__right




// end book-content