// begin events
section.events
  .container
    // begin publications__header
    .publications__header
      h2.h1.publications__title Letzte Veranstaltungen
      a(href="/").h5.publications__link
        span Alle Veranstaltungen
        +svg('arr-right')
    // end publications__header

    // begin events__list
    .events__list
      // begin event
      .event
        // begin img
        a(href="/").event__img
          img(src="assets/img/event-01.jpg" alt="event")
          .event__time
            +svg('play')
            span.body-2 02h 10min
        // end img
        h6.h6.text-green 54. Economic Conference
        h5.h5 Die Zukunft der Demokratie angesichts herausfordernder Autokratien
        .event__descr
          span Paul Frijters:
          span «Autocracy rising. How to mobilise markets and citizens to rise to the challenge»
        .event__descr
          span Kaspar Villiger: 
          span «Demokratie und Rechtsstaat im Lichte einer neuen Weltordnung»
        .event__footer
          .event__footer-item
            .event__footer-icon
              +svg('calendar')
            span 20.04.2023
          .event__footer-item
            .event__footer-icon
              +svg('geo')
            span Zürich
        a(href="/").event__more
          span Mehr erfahren
          +svg('arr-right')
      // end event
      // begin event
      .event
        // begin img
        a(href="/").event__img
          img(src="assets/img/event-02.jpg" alt="event")
          .event__time
            +svg('play')
            span.body-2 02h 10min
        // end img
        h6.h6.text-green 53 Economic Conference
        h5.h5 The power to tax and to spend
        .event__descr
          span Prof. Jonathan Rodden: 
          span «Taxing and Spending in Times of Crisis»
        .event__descr
          span Kaspar Villiger: 
          span «Demokratie und Rechtsstaat im Lichte einer neuen Weltordnung»
        .event__footer
          .event__footer-item
            .event__footer-icon
              +svg('calendar')
            span 20.04.2023
          .event__footer-item
            .event__footer-icon
              +svg('geo')
            span Zürich
        a(href="/").event__more
          span Mehr erfahren
          +svg('arr-right')
      // end event
      // begin event
      .event
        // begin img
        a(href="/").event__img
          img(src="assets/img/event-01.jpg" alt="event")
          .event__time
            +svg('play')
            span.body-2 02h 10min
        // end img
        h6.h6.text-green 52 Economic Conference
        h5.h5 How to feed 10 billion people by 2050
        .event__descr
          span Kaspar Villiger: 
          span «Demokratie und Rechtsstaat im Lichte einer neuen Weltordnung»
        .event__descr
          span Peter Brabeck-Letmathe: 
          span Ernährung für ein besseres Leben 
        .event__footer
          .event__footer-item
            .event__footer-icon
              +svg('calendar')
            span 20.04.2023
          .event__footer-item
            .event__footer-icon
              +svg('geo')
            span Zürich
        a(href="/").event__more
          span Mehr erfahren
          +svg('arr-right')
      // end event
    // end events__list

    // begin events__footer
    .events__footer
      button.btn.btn--green.btn--arr-down
        span Alle anzeigen
        +svg('arr-bottom')
    // end events__footer
// end events