// begin history
.history
  .container 
    // begin history-row#1
    .history-row.history-row--1
      .history-row__item
      .history-row__item
      .history-row__item
        h2.h1 History
    // end history-row#1

    // begin history-row#2
    .history-row.history-row--2
      .history-row__item
        .history-img-wrapper
          .history-img 
            img(src="assets/img/h-1.jpg", alt="img")
          .history-text
            .body-2 A brief historical description of the image in the photograph
      .history-row__item
        .history__date 19<br>73
      .history-row__item
        .h4 Foundation<br>Establishment
        p The Progress Foundation was established in 1973 in Lugano by Edward C. Harwood (1900 – 1980), a charismatic figure who, unperturbed by the prevailing opinions of the day, promoted the vision of a free society and a free economy.
    // end history-row#2

    // begin history-row#3
    .history-row.history-row--3
      .history-row__item
        .history-img-wrapper
          .history-img 
            img(src="assets/img/h-2.jpg", alt="img")
          .history-text
            .body-2 A brief historical description of the image in the photograph
      .history-row__item
        .history__date 19<br>20s<br>-<br>19<br>30s
      .history-row__item
        .h4 Foundation<br>Early Career and Economic Insights
        p Harwood was a graduate of West Point, the United States Military Academy, and served as an officer in the Army Corps of Engineers in the 1920s. Soon thereafter, however, he developed a passionate interest in economic problems. He recognized before many others the detrimental effects of an expansive credit policy. In 1928 and 1929 he warned, in articles in financial journals, that the boom on the equity and commodity markets was attributable primarily to an excessive expansion in the money supply. Failure to stop the inflationary process would lead to a catastrophe. With these words, Harwood prophesied the stock market crash of 1929 and the subsequent Great Depression.
    // end history-row#3

    // begin history-row#4
    .history-row.history-row--4
      .history-row__item
        .history-img-wrapper
          .history-img 
            img(src="assets/img/h-3.png", alt="img")
          .history-text
            .body-2 A brief historical description of the image in the photograph
      .history-row__item
        .history__date 19<br>33
      .history-row__item
        .h4 Foundation<br>Early Career and Economic Insights
        p Harwood was a graduate of West Point, the United States Military Academy, and served as an officer in the Army Corps of Engineers in the 1920s. Soon thereafter, however, he developed a passionate interest in economic problems. He recognized before many others the detrimental effects of an expansive credit policy. In 1928 and 1929 he warned, in articles in financial journals, that the boom on the equity and commodity markets was attributable primarily to an excessive expansion in the money supply. Failure to stop the inflationary process would lead to a catastrophe. With these words, Harwood prophesied the stock market crash of 1929 and the subsequent Great Depression.
    // end history-row#4

    // begin history-row#5
    .history-row.history-row--5
      .history-row__item
        .history-img-wrapper
          .history-img 
            img(src="assets/img/h-4.jpg", alt="img")
          .history-text
            .body-2 A brief historical description of the image in the photograph
      .history-row__item
        .history__date 19<br>70s<br>-<br>19<br>80s
      .history-row__item
        .h4 Foundation's Purpose and Early Activities
        p Harwood was a great admirer of Switzerland and the orientation of its monetary policy towards stability. The purpose of the Progress Foundation was to ascertain the beneficial and detrimental influences in the progress of civilization, and offer these insights directly to the public. The foundation’s capital of around CHF 8 million (2018) was raised in the 1970s and 1980s. It stems from donations by numerous, mainly American, citizens who believed in Harwood’s ideas and were able to increase their wealth by following his investment recommendations. In its early years, the foundation concentrated on awarding stipends to students at Swiss universities to fund their studies at the AIER. It also organized lectures and panel discussions in Ticino. It was only from the 1990s onward that Progress Foundation was able to fully dedicate itself to its scientific and economic mission as it was defined by its founder, Edward C. Harwood, almost 50 years ago. Over time, its activities migrated increasingly to Zurich, and the foundation moved its headquarters there in 2002.
    // end history-row#5

    // begin history-row#6
    .history-row.history-row--6
      .history-row__item
        .history-img-wrapper
          .history-img 
            img(src="assets/img/h-5.png", alt="img")
      .history-row__item
        .history__date Present
      .history-row__item
        .h4 Foundation's Purpose and Early Activities
        p Harwood was a great admirer of Switzerland and the orientation of its monetary policy towards stability. The purpose of the Progress Foundation was to ascertain the beneficial and detrimental influences in the progress of civilization, and offer these insights directly to the public. The foundation’s capital of around CHF 8 million (2018) was raised in the 1970s and 1980s. It stems from donations by numerous, mainly American, citizens who believed in Harwood’s ideas and were able to increase their wealth by following his investment recommendations. In its early years, the foundation concentrated on awarding stipends to students at Swiss universities to fund their studies at the AIER. It also organized lectures and panel discussions in Ticino. It was only from the 1990s onward that Progress Foundation was able to fully dedicate itself to its scientific and economic mission as it was defined by its founder, Edward C. Harwood, almost 50 years ago. Over time, its activities migrated increasingly to Zurich, and the foundation moved its headquarters there in 2002.
    // end history-row#6
// end history

// begin history-d
.history-d
  .container
    .history-d__row-left
      .history-d__logo
        img(src="assets/img/aier.svg", alt="logo")
      h2.h1 American Institute for Economic Research
      p The <a href="/">American Institute for Economic Research (AIER)</a>, founded in 1933, is the sister organization of the Progress Foundation. While they are linked by their common founder, Edward C. Harwood, they are fully independent in financial, personnel and legal respects. As an independent scientific and educational organization, the Institute’s research aims to help individuals protect their personal interests (and those of the community). Those people who secure their prosperity by labor and thrift, and who pay most of the taxes, are considered by AIER as the principal guardians of American civilization. Through scientific inquiries, AIER intends to broaden the understanding of traditional classical liberal values in American society and to support choosing wise and forward-looking policies.
    .history-d__row-right
      .history-d__img
        img(src="assets/img/sran.jpg", alt="img")
      p In contrast to many foundations, AIER is not funded by one single person or family or other concentration of wealth. Nor does AIER represent any special interest. Financial support for the Institute is provided primarily by the annual fees from thousands of sustaining members, receipts from sales of its publications, tax-deductible contributions, and the earnings of its wholly owned investment advisory organization, American Investment Services, Inc. Advertising is not accepted in its publications. AIER holds the view that information and advice on economic subjects are most useful when they come from a source that is independent of special interests, either commercial or political. The provisions of AIER’s charter and bylaws ensure that neither the Institute itself nor members of its staff may derive profit from organizations or businesses that happen to benefit from the results of the Institute’s research.

// end history-d