mixin post(title, icon, type)
  a(href="/").post__item
    .post__date.body-2 02.01.2024
    h6.h6.post__title= title
    .post__footer
      img(src="assets/img/icons/" + icon + ".svg", alt="icon")
      span= type

// begin posts
section.posts
  .container
    // begin publications__header
    .publications__header
      h2.h1.publications__title Fundgrube
      a(href="/").h5.publications__link
        span All posts
        +svg('arr-right')
    // end publications__header

    // begin posts__list
    .posts__list
      +post('Sind sie die Wirtschaftselite von morgen? Ein Dokumentarfilm zeigt HSG-Studenten beim «Strampeln auf hohem Niveau»', 'media', 'In the media')
      +post('Zehn Gebote des gesunden Menschenverstands', 'message', 'Speaking off')
      +post('Von wegen Neoliberalismus: Wir leben im Neomerkantilismus',  'media', 'In the media')
      +post('Die Schweizer Mehrwertsteuer: Absurditäten zuhauf und ungenutztes Wohlstandspotenzial', 'message', 'Speaking off')
    // end posts__list

    // begin publications__footer
    .publications__footer
      a(href="/").h5.publications__link
        span All posts
        +svg('arr-right')
    // end publications__footer
// end posts