// begin top-index
.top-index
  .container
    // begin top-index__left
    .top-index__left
      h2.h1.top-index__left-title Explore, Discuss, Innovate
      p.body-1.top-index__left-descr Freiheit führt zu Offenheit, Wandel und Fortschritt. Deshalb fördern wir die Weiterentwicklung freiheitlicher Ideen.
      a(href="/").btn.btn--green.btn--arr-right
        span Support Us
        +svg('arr-right')
    // end top-index__left

    // begin top-index__right
    .top-index__right
      include ./top-slider
    // end top-index__right

// end top-index