h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 8px 0;
}

.text-grey {
  color: $grey;
}

h1,
.h1 {
  font-family: $font-merri;
  line-height: 1.1;

  overflow-wrap: break-word;
  // @include responsive-font(56, 48);
  @include responsive-font(56, 28);
}

h2,
.h2 {
  font-family: $font-merri;
  line-height: 1.2;

  overflow-wrap: break-word;
  // @include responsive-font(48, 40);
  @include responsive-font(48, 22);
}

h3,
.h3 {
  font-family: $font-barlow;
  line-height: 1;

  overflow-wrap: break-word;
  // @include responsive-font(56, 40);
  @include responsive-font(56, 40);
}

h4,
.h4 {
  font-family: $font-barlow;
  font-size: 48px;
  line-height: 1;

  overflow-wrap: break-word;
  // font-size: 48px;
  @include responsive-font(48, 30);
}

h5,
.h5 {
  font-family: $font-barlow;
  line-height: 1.1;

  overflow-wrap: break-word;
  // font-size: 32px;
  @include responsive-font(32, 24);
}

h6,
.h6 {
  font-family: $font-barlow;
  line-height: 1.05;

  overflow-wrap: break-word;
  // font-size: 24px;
  @include responsive-font(24, 20);
}

.h6--caps {
  text-transform: uppercase;
}

.h7 {
  font-family: $font-barlow;
  line-height: 1.05;

  overflow-wrap: break-word;
  // font-size: 19px;
  @include responsive-font(19, 17);
}

.body-1 {
  font-family: $font;
  font-size: 16px;
  line-height: 1.6;
}

.body-2 {
  font-family: $font;
  font-size: 14px;
  line-height: 1.5;
}
