$brand: #077964;

// ===== main colors =====
$green: #077964;
$grey: #737b79;
$black: #000;
$white: #fff;

// ===== fonts =====
$font: 'Inter', sans-serif;
$font-merri: 'Merriweather', serif;
$font-barlow: 'Barlow Condensed', sans-serif;
