extends ../_template

block variables
  - let title       = 'Progress foundation'
  - let description = 'Progress foundation'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main
      include ../sections/events
      include ../sections/publications

      // begin blockquote-sec
      .blockquote-sec
        .container
          h5.h5 Eine liberale Idee
          h3.h3 Social progress and liberty are closely inter-linked. Where there is no liberty to inquire and investigate, there can be no economic or social innovation. Liberty allows a society to be open-minded, to embrace change and to progress.
      // end blockquote-sec
      
      include ../sections/posts
    //end content

    include ../sections/footer
    include ../sections/scripts
