extends ../_template

block variables
  - let title       = 'Veranstaltungen'
  - let description = 'Progress foundation'
  - let breadcrumbs = 'Zero Tolerance'

block content
  .main-wrap
    include ../sections/header
    include ../elements/mobile-menu
    include ../sections/top-section

    //begin content
    main.main
      // begin article
      article.article
        .container
          // begin article__header
          header.article__header.article-header
            .article-header__item
              .article-header__item-icon
                img(src="assets/img/icons/calendar.svg", alt="icon")
              span.article-header__item-text 25.04.2013 - 27.04.2013
            a(href="/" target="_blank" rel="noopener noreferrer").article-header__item
              .article-header__item-icon
                img(src="assets/img/icons/geo.svg", alt="icon")
              span.article-header__item-text Freudenfels
          // end article__header

          // begin article__content
          .article__content
            h4.h4.text-green 20. Workshop
            h1.h2 Zero Tolerance
            h3.h5.text-grey Am Abend vom 25. April 2013 trafen 16 Teilnehmer im Schloss Freudenfels in Eschenz ein, um gemeinsam bis zum 27. April 2013 das Thema „Zero Tolerance“ aus verschiedenen Perspektiven zu beleuchten. Zum ersten Mal fand ein solcher Workshop der Progress Foundation, mit einem äusserst interdisziplinär zusammengesetzten Teilnehmerkreis, in Eschenz statt. Folgende Ausführungen fassen die Gesprächsinhalte der einzelnen Workshops zusammen, wobei kein Anspruch auf Vollständigkeit besteht.
            h6.h6 Fabian Schönenberger
          // end article__content

          // begin article__content
          .article__content
            h4.h4 Block 1: Kriminalität
            p Beiden diskutierten Texten gemein ist die Frage, ob Toleranz gegenüber kriminellem Verhalten die Kriminalität fördert oder nicht. Im Streben zum weder realistischen, sprich umsetzbaren, noch sinnvollen Ziel der absoluten Nulltoleranz gegenüber jeglicher Art von Regelverstössen gibt es verschiedenste Nivellierungen von Einflussnahme. Befürworter der sogenannten „Broken-Windwos- Theorie“ sind der Überzeugung, dass sich die Pflege der nachbarschaftlichen Umgebung positiv auf das Zusammenleben auswirkt. Kaputte Fenster sorgen für verängstigte Bewohner, die sich zurückziehen, was Gelegenheiten für weitere Randale schafft. Nulltoleranz gegenüber kleinstem Fehlverhalten ist die Folge. Es ist daher erstaunlich, dass die öffentliche Hand durch bauliche Massnahmen sozial gewachsene Strukturen zerstört und so, was im zweiten Text von Sampson & Raudenbush „Collective Efficacy“ genannt wird, gesellschaftliche Kontrollmechanismen erschwert. Anstatt polizeilicher Kontrolle soll soziale Kontrolle das Zusammenleben positiv fördern. Zu beachten ist, dass Regelverstösse von zwei Arten von Tätern begangen werden: Situationstäter und Persönlichkeitstäter.
            p Der Situationstäter handelt, weil sich eine entsprechende Gelegenheit bietet. Davon zu unterscheiden ist der Persönlichkeitstäter, der gezielt und vollends bewusst gegen Vorschriften verstösst. Im Text von Wilson & Kelling (1982) kommt diese Unterscheidung zum Ausdruck, indem die Polizei Fremden gegenüber mit Skepsis begegnet. Die Unterscheidung der beiden Tätergruppen ist bei Unbekannten schwieriger. Weil eine Gesellschaft mit weniger Opfern eine bessere Gesellschaft ist, sollte es Red Lines gegeben, die resolut verteidigt werden und bei Übertretung entsprechend Sanktionen ausgelöst werden. Wo diese Grenzen gesetzt werden sollten, ist nicht immer einfach zu bestimmen. So gehören Tabubrüche zum Erwachsenwerden dazu. Provozierende Jugendliche zeigen sich zudem empfänglich für gezielte Interventionen, was bedeutet, dass der menschliche Zugang in eskalierend drohenden Situationen entscheidend ist. Kurze Gefängnisaufenthalte und andere teilweise inszenierte Machtdemonstrationen hinterlassen bleibenden Eindruck. Unter Wahrung der Verhältnismässigkeit ist deshalb eine Sanktionierung auch von kleineren Verstössen sinnvoll. Bestrafung ist aber immer vergangenheitsbezogen. Zukunftsgerichtet kann nur ein entsprechendes Risiko Management sein, dass Fehlverhalten zu erkennen vermag, Gründe und Ursachen erfasst und eine Verhaltensänderung der Beteiligten anstrebt.
          // end article__content

          // begin article__content
          .article__content
            h5.h5 In den Medien
            // begin article__link
            .article__link
              .article__link-icon
                img(src="assets/img/icons/link-1.svg", alt="icon")
              .article__link-info
                a(href="/").h6 Manipulation ist heikler als Zwang
                .body-1.text-grey Markus Saurer, Finanz und Wirtschaft, 27.07.2016 
            // end article__link

            // begin article__link
            .article__link
              .article__link-icon
                img(src="assets/img/icons/link-1.svg", alt="icon")
              .article__link-info
                a(href="/").h6 Wider das Laster
                .body-1.text-grey Markus Schär, Weltwoche, 01.06.2016
            // end article__link

            // begin article__link
            .article__link
              .article__link-icon
                img(src="assets/img/icons/link-2.svg", alt="icon")
              .article__link-info
                a(href="/").h6 Gastkommentar: Gelebte Unabhängigkeit der Schweizer Nationalbank
                .body-1.text-grey Gerhard Schwarz, AZ Medien, 22.01.2015
            // end article__link

            // begin article__link
            .article__link
              .article__link-icon
                img(src="assets/img/icons/link-2.svg", alt="icon")
              .article__link-info
                a(href="/").h6 Les banques centrales ont beaucoup trop de pouvoir
                .body-1.text-grey Emmanuel Garessus, Le Temps, 11.06.2014
            // end article__link
          // end article__content

          // begin article__content
          .article__content
            h5.h5 Bücher
            // begin article__link
            .article__link
              .article__link-icon
                img(src="assets/img/icons/link-3.svg", alt="icon")
              .article__link-info
                a(href="/").h6 Total Data – Total Control
                .body-1.text-grey 20.02.2024
            // end article__link
          // end article__content
      // end article

      include ../sections/publications
    //end content

    include ../sections/footer
    include ../sections/scripts
