.article {
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 56px;
}

// begin header
.article__header {
  display: flex;
  flex-wrap: wrap;
}

.article-header__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding-right: 40px;
}
.article-header__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  img {
    display: block;
    max-width: 100%;
  }
}

.article-header__item-text {
  font-family: $font-barlow;
  font-size: 18px;
  white-space: nowrap;
  text-transform: uppercase;
}
// end header

// begin content
.article__content {
  margin-bottom: 56px;
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  p {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .h6 {
    margin-bottom: 8px;
  }
}

.article__img {
  margin-bottom: 24px;
  img {
    display: block;
    max-width: 100%;
  }
}
.article__img-text {
  color: $green;
}
// end content
